<div class="panel panel-default">
  <div class="panel-body">
    <p>因為目前還是學生，希望能夠有實習的機會!</p>
    <p>有網頁開發的經歷 使用過 Laravel 框架 ，並且有使用過 API 及 引入套件的經歷 (Google Map API..) 及 實作 RWD</p>
    <p>使用過 Java 撰寫程式 並寫過 Android APP, socket.io...</p>
    <p>超過一年以上的團隊合作及開發的經驗 ,並使用 git 作為版本控制系統。</p>
    <p>也撰寫過 使用者文件 / 系統文件。<b>目前經歷大多為網頁經歷，不過對於其他領域也很有興趣</b></p>
    <div class="row">
      <div class="col-md-4">
        <div class="well well-sm">
          <p>-前端使用過</p>
          <ul class="fa-ul">
            <li><i class="fa fa-check" aria-hidden="true"></i> jQury</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Vue.js</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> JavaScript</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Angular 2</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> CSS</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> 導入過一些API ( Google Map API...)</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> RWD 設計</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-sm equal-height-panels">
          <p>-後端使用過</p>
          <ul class="fa-ul">
            <li><i class="fa fa-check" aria-hidden="true"></i> PHP</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> SQL</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Laravel</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-sm equal-height-panels">
          <p>-Java</p>
          <ul class="fa-ul">
            <li><i class="fa fa-check" aria-hidden="true"></i> Java</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Android APP</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Tcp/Udp Game</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h2 class="attractive">了不起，負責</h2>
      <p>　有在學校的計算機中心打工，與帶我們的技師一同寫校務系統(網頁)，我工作交待下來會<b>分配時間完成</b>，不會在前一天才在趕工，會提前把工作完成，並<b>關心同伴的進度是否需要幫忙</b>。且完成時會去思考，是否有<b>更好的方式或是更簡潔的方式去修改程式碼</b>。</p>
    </div>
    <div class="col-md-4">
      <h2 class="attractive">樂於自學新知</h2>
      <p>　樂於自行學習新的事物，在前端網頁的潮流下，有很多新的技術可以學習，當熟悉這些新知識時，必須要<b>閱讀官方文件</b>來使用這些新的技術，我對於新知識不會畏懼並且抱著熱情去克服！</p>
    </div>
    <div class="col-md-4">
      <h2 class="attractive">團隊合作</h2>
      <p>　我喜歡與人互動，真正實務上的專案，不太可能獨立的完美完成，與志同道合的夥伴交流或是與同事<b>code review</b>時，能夠互相交換許多新知、有趣的技術或是這周又碰到甚麼樣難題，透過人與人合作與碰撞才能夠一起完成很棒的作品或是成果。</p>
    </div>

    <!--<p>樂於自行學習新的事物，因為在前端網頁的潮流下，有很多新的技術可以學習</p>
            <p>所以我自己也有閱讀過官方文件來使用這些新的技術，對於新的知識不會畏懼並且抱著熱情去克服！</p>
            <p>希望能夠有其他機會碰觸其他新事物</p>
            <p>雖然我還是一個 大三資工系學生，但是樂於接受各種新知識！</p>-->
  </div>
