<div id="background" [style.background]="now">
  <div class="container" style="padding-top: 4%">
    <div class="jumbotron">
      <div class="row" style="padding: 1%">
        <div class="text-center col-md-12 topFont">
          <span>I'm </span><span class="text-change" style=" display: inline;"></span>
        </div>
      </div>
      <div class="row" style="padding: 1%">
        <div class="col-md-4 text-center">
          <img src="assets/img/profile.png" class="img-responsive" width="318" height="323">
        </div>
        <div class="col-md-8">
          <h1><b>熊偉年</b></h1>
          <h2><b>前後端網頁工程師</b></h2>
          <h2><b>中央大學資訊工程學系 (Junior)</b></h2>
          <h2>樂於學習各種技術</h2>
          <ul class="breadcrumb">
            <li *ngFor="let item of skill">{{item}}</li>
          </ul>
        </div>
      </div>
      <ul class="nav nav-tabs" style="margin-bottom: 15px;margin-top: 20px; display: flex;">
        <li *ngFor="let item of navBar" (click)="nowNavbar=item.link" [ngClass]="{'title': true, 'open': nowNavbar===item.link}">
          <a [routerLink]="[ '/'+item.link]"><span><i [ngClass]="['fa',item.icon]" aria-hidden="true"></i> {{item.title}}</span></a>
        </li>
        <li class="title" (click)="nowNavbar='git'" [ngClass]="{'open': nowNavbar ==='git'}">
          <a target="_blank" href="https://github.com/Bear1110"><span><i class="fa fa-github fa-2x" aria-hidden="true"></i></span></a>
        </li>
      </ul>
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
      <div class="progress progress-striped active">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
      <div class="row text-center">
        <p>熊偉年 <i class="fa fa-copyright" aria-hidden="true"></i> 2017, all rights reserved.</p>
      </div>

    </div>
  </div>

</div>
