/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/
#background {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  transition: all ease 0.7s;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  font-size: 50px !important;
}
.title {
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  text-align: center;
  align-items: center;
  flex: 1;
}
.title.open {
  flex: 2;
  font-size: 2.2em !important;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
span {
  font-size: 1.5em;
  /*font-family: 'Noto Sans TC', sans-serif !important;*/
}

li {
  font-size: 1.5em !important;
}

@media only screen and (min-width: 1170px) {
  span {
    font-size: 3em;
  }
}
