<div id="background" [style.background]="now">
  <div class="container" style="padding-top: 4%">
    <div class="jumbotron">
      <div class="row" style="padding: 1%">
        <div class="text-center col-md-12 topFont">
          <span>I'm </span><span class="text-change" style=" display: inline;"></span>
        </div>
      </div>
      <div class="row" style="padding: 1%">
        <div class="col-md-4 text-center">
          <img src="assets/img/profile.png" class="img-responsive" width="318" height="323" style="box-shadow: 10px 10px 5px #888888;">
        </div>
        <div class="col-md-8">
          <h1><b>熊偉年</b></h1>
          <h2><b>前後端網頁工程師</b></h2>
          <h2><b>中央大學資訊工程學系 (Junior)</b></h2>
          <h2>樂於學習各種技術</h2>
          <ul class="breadcrumb">
            <li *ngFor="let item of skill">{{item}}</li>
          </ul>
        </div>
      </div>
      <ul class="nav nav-tabs" style="margin-bottom: 15px;margin-top: 20px; display: flex;">
        <li class="title" (click)="navbarClick(0)" [ngClass]="{'open': flex[0]}">
          <a class="effect-6" href="#home" data-toggle="tab"><span><i class="fa fa-user" aria-hidden="true"></i> 簡介</span></a>
        </li>
        <li class="title" (click)="navbarClick(1)" [ngClass]="{'open': flex[1]}">
          <a href="#profile" data-toggle="tab"><span><i class="fa fa-etsy" aria-hidden="true"></i> 經歷</span></a>
        </li>
        <li class="title" (click)="navbarClick(2)" [ngClass]="{'open': flex[2]}">
          <a href="#project" data-toggle="tab"><span><i class="fa fa-product-hunt" aria-hidden="true"></i> 專案</span></a>
        </li>
        <li class="title" (click)="navbarClick(3)" [ngClass]="{'open': flex[3]}">
          <a href="#mail" data-toggle="tab"><span><i class="fa fa-envelope-o" aria-hidden="true"></i> 聯絡我</span></a>
        </li>
        <li class="title" (click)="navbarClick(4)" [ngClass]="{'open': flex[4]}">
          <a target="_blank" href="https://github.com/Bear1110"><span><i class="fa fa-github fa-2x" aria-hidden="true"></i></span></a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <!--*********************************************************************************-->
        <div class="tab-pane fade active in" id="home">
          <app-introduction></app-introduction>
        </div>
        <!--*********************************************************************************-->
        <div class="tab-pane fade" id="profile">
          <app-exp></app-exp>
        </div>
        <!--*********************************************************************************-->
        <div class="tab-pane fade" id="project">
          <app-project></app-project>
        </div>
        <!--*********************************************************************************-->
        <div class="tab-pane fade" id="mail">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <a target='_blank' href="mailto:william456821@gmail.com">
                <h1><i class="fa fa-google" aria-hidden="true"></i>mail</h1>
              </a>
              <a target='_blank' href="https://www.facebook.com/profile.php?id=100000256849750">
                <h1><i class="fa fa-facebook-official" aria-hidden="true"></i>: 熊偉年</h1>
              </a>
              <a target="_blank" href="https://tw.linkedin.com/in/偉年-熊-427162132">
                <h1><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin</h1>
              </a>
              <a target="_blank" href="https://github.com/Bear1110">
                <h1><i class="fa fa-github fa-lg" aria-hidden="true"></i> Github</h1>
              </a>
            </div>
          </div>
        </div>
        <!--*********************************************************************************-->
      </div>
      <div class="progress progress-striped active">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
      <div class="row text-center">
        <p>熊偉年 <i class="fa fa-copyright" aria-hidden="true"></i> 2017, all rights reserved.</p>
      </div>

    </div>
  </div>
  <router-outlet></router-outlet>

</div>
    