<div class="list-group" id="accordion">
  <div class="list-group-item" *ngFor="let item of skill; let i = index">
    <a data-toggle="collapse" [href]="'#collapse'+i">
      <div class="row-action-primary">
        <i [class]="item.icon"></i>
      </div>
      <div class="row-content">
        <!--<div class="least-content">15m</div>-->
        <h4 class="list-group-item-heading">{{item.title}}</h4>

        <p class="list-group-item-text">{{item.subTitle}}</p>
      </div>
    </a>
    <div [id]="'collapse'+i" class="panel-collapse collapse" style="padding-left:5%">
      <div class="panel-body" [innerHTML]="item.content">
      </div>
    </div>
    <div class="list-group-separator"></div>
  </div>
</div>
