/* You can add global styles to this file, and also import other style files */
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css); /*思源黑*/
body,h1,h2,h3,h4,h5,h6,p,span,a {
    font-family: 'Noto Sans TC', sans-serif !important;
    /*font-family: "Microsoft Jhenghei"; 微軟正黑體*/
    font-weight: bold !important;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    height: 5px;
	width: 8px !important;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(177, 177, 177);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(56,56,56,0.6) !important;
}